* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../../fonts/comfortaa/Comfortaa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myanmar Text';
  src: url('../../fonts/myanmar/MyanmarText.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
input {
  font-family: 'Comfortaa';
}

p {
  color: $font-grey;
}

.label {
  font-family: 'Myanmar Text';
}

.places-complete {
  position: absolute;
  z-index: 13;
}

input {
  width: 100%;
  font-size: 1.5em;
  border-radius: 1.5em !important;
  text-align: center;
}

.form-container {
  margin: 0 auto;
  width: 20%;
  & > .input-container {
    margin-bottom: 50px;
  }
}
.mg-left-15px {
  margin-left: 15px;
}
.mg-rg-15px {
  margin-right: 15px;
}
.mg-top-10 {
  margin-top: 15px;
}
.background_container {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: $main;
  z-index: -1;
}
.ui.label.title {
  display: block;
  background-color: transparent;
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-family: 'Comfortaa';
  font-size: 4.5em;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  padding: 0;
}

//DRAG AND DROP
// .row {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

.item {
  font-size: 15px;
  // margin-bottom: 10px;
  // padding: 10px;
  // border-radius: 5px;
  z-index: 1;
  // background-color: white;
}

.item:hover {
  cursor: pointer;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  min-height: 150px;
  min-width: 300px;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  // padding: 20px;
  // background-color: var(--background-color);
  border-radius: 5px;
}

.col-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.col {
  min-height: 250px;
  min-width: 300px;
  // width: 300px;
}

.highlight-region {
  background-color: $main;
}
