* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../../fonts/comfortaa/Comfortaa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myanmar Text';
  src: url('../../fonts/myanmar/MyanmarText.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
input {
  font-family: 'Comfortaa';
}

p {
  color: $font-grey;
}

.label {
  font-family: 'Myanmar Text';
}

.places-complete {
  position: absolute;
  z-index: 13;
}

input {
  width: 100%;
  font-size: 1.5em;
  border-radius: 1.5em !important;
  text-align: center;
}

.form-container {
  margin: 0 auto;
  width: 20%;
  & > .input-container {
    margin-bottom: 50px;
  }
}

.background_container {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: $main;
  z-index: -1;
}
.ui.label.title {
  display: block;
  background-color: transparent;
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-family: 'Comfortaa';
  font-size: 4.5em;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  padding: 0;
}
