@import './base/colors';
@import './base/breakpoints';
@import './base/global';

//Layouts
@import './layouts/BasicLayout/BasicLayout';

//Components
@import './component/inputCustom/Date/Date';
@import './component/Login/Login';
@import './component/inputCustom/Number/Number';
@import './component/inputCustom/Select/Select';
@import './component/inputCustom/Text/Text';
@import './component/NavBarSecundary/NavBarSecundary';
@import './component/NavBarSecundary/IconsBar/IconsBar';
@import './component/Slider/Slider';
@import './component/inputCustom/customInput';
@import './component/Buttons/Buttons';
@import './component/header';
@import './component/Verify-code/verifyCode';
@import './component/ModalComponent/modal';
@import './component/Sliders/MedicalHistory/MedicalHistory';
@import './component/EnfermedadesComunes/EnfermedadesComunes';
@import './component/Sistemas/Sistemas';
@import './component/ListaEnfermedades/ListaEnfermedades';
@import './component/spinner/spinner';
@import './component/SliderHistorialMedico/SliderHistorialMedico';
@import './component/SliderGinecologia/SliderGinecologia';
@import './component/MedicalContact/MedicalContact';
@import './component/Treatment/Treatment';
@import './component/Contact/Contact';
@import './component/Landing/Landing';
@import './component/Band/Band';
@import './component/Plate/Plate';
@import './component/Emergency/Emergency';
@import './component/Resume/Resume';
@import './component/register';

.slider .swiper-container .grid span {
    line-height: 28px;
}

#Capa_sumary {
    fill: #fff;
}
.icon-selected > #Capa_sumary {
    fill: #2c2e81;
}
.paragraph_forgot {
    padding-top: 10px;
    color: #fff;
}