.slider {
  height: 100vh;
  max-height: 100vh;

  > .row:first-child {
    height: 1em;
    margin-top: 2em;
  }

  .title {
    text-align: center;
    font-size: 2em;
    // top: 4em;
    // opacity: 1;
    // z-index: 3;
    // position: absolute;
  }

  .hidden-title {
    // display: none;
    // transition: opacity 800ms ease;
    opacity: 0;
  }

  .swiper-slide {
    max-height: 100vh;
    > .ui.grid > .row {
      padding-top: 0;
    }
  }

  > .row:last-child {
    height: 94%;
  }

  .swiper-container {
    margin-left: 1em;
    margin-right: 1em;

    // .swiper-slide-active {
    //     display: flex;
    //     // justify-content: space-between;
    //     align-items: center;
    // }

    .container {
      height: inherit;
      width: 70%;
    }

    .slider-two {
      height: inherit;
    }

    .grid {
      height: inherit;
      // text-align: center;

      // h2 {
      //     position: abolute;
      //     margin-top: -200px;
      // }

      > div {
        > div {
          text-align: center;
        }
      }

      .hidden {
        opacity: 0;
      }
      input[type='radio']:checked + label {
        svg path {
          fill: $color-acua;
          stroke: $white;
        }
        svg g g rect {
          fill: $color-acua;
          stroke: $white;
        }
      }

      .column {
        .input-custom {
          margin: 0 auto;
        }

      }

      svg {
        width: 17em;
        margin-bottom: 1em;
        text-align: center;
        transition: all 500ms;
      }

      span {
        display: block;
        font-size: 1.5em;
        margin-top: 1.5em;
      }
    }

    .swiper-button-next {
      right: 5em;
      transition: all 300ms;
      // color:white;
    }

    .arrow {
      width: auto;


      > .ui.button {
        font-size: 1.7em;
        padding: 10px;
      }

      &.right {
        > .ui.button {
          color: $white;
          background-color: $secondary;
        }
      }



      &.left {
        position: absolute;
        left: 100%;
        display: none;
      }
    }

    
  }

  .vacunas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &__title {
      text-align: center;
      margin-top: 6em;
    }

    &__center {
      display: flex;
      justify-content: center;

      .optionYesOrNot {
        font-size: 25px;
        display: flex;
        width: 50%;
        justify-content: center;
        > input[type='radio'] {
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
          transform: scale(1.5);
          cursor: pointer;
          width: 30px;
        }
        > label {
          cursor: pointer;
        }

        &:last-of-type {
          text-align: end;
        }
      }
    }

    &__title-description {
      text-align: center;
      margin-top: 1em;
      &:last-of-type {
        margin-bottom: 2em;
      }
    }
  }

  .info-basic {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .description {
      display: flex;
      margin-bottom: 2em;

      &:first-of-type {
        margin-top: 4em;
      }

      & > .description-container {
        &:first-of-type {
          width: 60%;
        }
        &:last-of-type {
          width: max-content;
        }
        display: flex;

        > .icon {
          margin-right: 10px;
          > svg {
            width: 6em;
          }
        }
        > .data {
          display: flex;
          flex-direction: column;
          justify-content: center;

           i {
            cursor: pointer;
          }

          > span {
            font-size: 1.2em;
            margin-top: 0.5em;
            text-align: left;
          }

          > label {
            font-weight: bold;
            font-size: 1.2em;
            text-align: left;
          }
        }
      }
    }

    .grid > .column {
      // background-color: yellow;

      .row {
        &:last-child {
          margin-bottom: 5em !important;
  
        }
      }
    }
  }

  .ui.selection.dropdown {
    min-width: auto;
  }
}

.button-info-basic {
  & > .column > .button {
    background-color: $secondary;
    color: $white;
  }
  position: fixed;
  bottom: 1em;
  width: 80% !important;
  // z-index: 1000000000;
  z-index: 12;
}


@media (max-width: 1235px) {

  .slider {
    font-size: 0.8em;
  }

  .info-basic {
    font-size: 1.2em;
  }

  .input-container {  
    >label::before {
      font-size: 1.1em !important;
    }
  }
  
}

@media (max-width: 1024px) {

  .slider .swiper-container .grid svg {
    width: 15em;
  }
}

@media (max-width: 991px) {
  .slider .swiper-container .grid svg {
    width: 15em;
  }

  .slider .swiper-container .swiper-button-next {
    top: 90%;
    right: 30%;
  }
  .slider .swiper-container .swiper-button-prev {
    top: 90%;
    left: 20%;
  }
  .slider .swiper-container .arrow > .ui.button {
    font-size: 2em;
    width: 9em;
  }

  .slider .swiper-container .arrow.left {

    display: block;
  }

  .slider-two {
    .grid {
      .column {
        &:last-child {
          margin-bottom: 5em;
        }
      }
    }

  }

}

@media (max-width: 830px) {
  
  .slider .swiper-container .arrow > .ui.button {
    width: 7em;
  }

}

@media (max-width: 767px) {
 
  .slider {
    font-size: 0.6em;

    .hidden-title {
      opacity: 1;
    }


    & .swiper-container {
      height: 100% !important ;
    }
    height: 100%;

    > .row:first-child {
      height: 0 !important;
      margin-top: 0 !important;
      padding-top: 0;
      padding-bottom: 0;
      h1 {
        margin-top: 3.5em;
      }
    }

    > .row:last-child {
      height: 100% !important;
    }
  }

  
  
  .slider .swiper-container .grid svg {
    width: 5em;
  }

  .slider .swiper-container .swiper-button-next {
    top: 90%;
    right: 45%;
  }
  .slider .swiper-container .swiper-button-prev {
    top: 8%;
    left: 8%;
  }
  .slider .swiper-container .arrow > .ui.button {
    font-size: 2em;
    width: 80vw;
  }

  .slider-two {
    overflow-y: auto;
    overflow-x: hidden;
    // height: 90% ;

    .grid {
      .column {
        &:first-child {
          margin-top: 11em;
        }
  
        &:last-child {
          margin-bottom: 9em;
        }
      }
    }
  }

  .inputs-sex {
    height: 70%;
    svg {
      width: 10em !important;
    }
  }

  .ui.grid>.row, .ui.grid>.column:not(.row) {
    padding: 0;
  }

  .mobile-title {
    text-align: center;
    margin-top: 10em;
    > h3 {
      text-align: center;
      margin: 0 auto;
      font-size: 2.5em !important;
    }
  }

  .button-info-basic {
    bottom: 9em;
    width: 80% !important;
    // z-index: 1000000000;
    z-index: 12;
  }

  .vacunas {
    &__title {
      margin-top: 0;
    }
    &__center {
      svg {
        width: 10em !important;
      }
    }
    &__title-description {
      &:first-child {
        margin-top: 1em;
      }
      margin-top: 2em !important;

      &:last-child {

        margin-bottom: 10em !important;
      }
    }
      .title {
        margin-top: 4em !important;
        margin-bottom: 0;
        height: 0em;
        font-size: 2.5em;
      }
  }

  .info-basic {
    .description {
      &:first-of-type {
        margin-top: 2em !important;
      }

      flex-wrap: wrap;

      & .description-container {
        margin-left: 1em;
        width: 100% !important;

      }
    }

    .title {
      margin-top: 4em;
    }
  }

  .ui.dropdown .menu>.item {
    font-size: 0.8em;
   }

  


  // .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  //   bottom: 0 !important;
  //  }

}


