.basic-layout {
  > .ui.grid {
    margin: 0 !important;
    min-height: 100vh;

    > .column {
      padding: 0;

      &:first-of-type {
        background-color: $main;
        /*position: fixed;
        z-index: 10;
        left: 0;
        height: 100%;*/
      }

      &:last-of-type {
        .justify-content {
          display: flex;
          justify-content: center;
          margin-top: 35px;

          > h2 {
            margin-bottom: 2em;
          }
        }

        // > .row .swiper-container {
        //   >.swiper-wrapper {
        //     >.swiper-slide {

        //       > .inputs-sex {
        //         display: flex;
        //         justify-items: center;
        //         justify-content: space-around;
        //         margin-bottom: 8em;
      
        //         > input {
        //           display: none;
        //         }
      
        //         >input[type=radio]:checked + label {
        //           >svg path {
        //               fill: $color-acua;
        //               stroke: $white;   
                    
        //           }
        //           > svg g g rect{
        //             fill: $color-acua;
        //             stroke: $white;   
        //           }
        //         }
      
      
        //         > label {
      
        //           &:hover {
        //             cursor: pointer;
        //           }
      
        //           > svg {
        //             width: 17em;
        //           }
        //         } 
      
                
        //       }

        //       > .slider-two {
        //         display: flex;
        //         justify-content: space-around;
        //         > svg {
        //           width: 12em;
        //         }
        //       }
        //     }

        //   }
        // }
      }
    }
  }

}

@media (max-width: 767px) {
  .basic-layout .main-grid {
    flex-direction: column-reverse;
    
    >div {
      &:first-child {
        height: 2vh;
      }
  
      &:last-child {
        height: 80vh;
      }

    }
  }

  .basic-layout {

    > .ui.grid {
      min-height: auto;
      > .column {
  
        &:first-of-type {
          background-color: $white;
        }
      }
    }
  }
}

