
.opacity_effect {
    animation: mymove .6s;
    transition: all .2s;
}
.checkboxCustom {
    width: 100px;
}
.conditions_container {
    margin: 0 auto;
    width: 80%;
}
.band {

    .obo2{
        width: 100%;
    }

    >.row {

        &:first-child {
            margin: 1em;
            justify-content: flex-start !important;
        }

        .logo {
            margin-left: 1.5em;
            margin-top: 10px;
        }

        .title {
            font-size: 2em;
        }

        .thumbnail {
            
            >.square {
                width: 5em;
                height: 5em;
                border: 1px solid black;

                margin: 0 auto;
                margin-bottom: 1em;
                cursor: pointer;


                >img {
                    width: 100%;
                }
            }
        }

        .column {
            text-align: center;
            .price {
                margin-top: 1em;
                .column {
                    display: inline-block;

                    span {
                        font-size: 1.5em;
                    }

                    .button {
                        margin-left: 1em;
                        display: inline-block;
                        font-size: 1.5em;
                        width: 10em;
                        background-color: $main;
                        border-color: $main;
                        color: $white;
                    }
                }
            }

            >.included {
                margin-top: 4em;
                text-align: center;
                p {
                    font-size: 1.5em;
                    color: #000000;
                }
            }

            .colors {
                margin-top: 3em;
                div:last-child {
                    display: flex;
                    justify-content: center;
                }

                span {
                    font-size: 1em;
                }
               
                
                .circle {
                    width: 1.5em;
                    height: 1.5em;
                    border-radius: 50%;
                    margin-top: 1em;
                    
                    cursor: pointer;
                    
                    &:last-child {
                        margin-left: 1em;
                    }

                    &.blue {
                        background-color: $main;
                    }

                    &.green {
                        background-color: $secondary;
                    }
                    &.black {
                        background-color: #000000;
                    }
                }


            }

            
        }
    }
}

@keyframes mymove {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 1065px) {
    .band {
        font-size: 0.9em;
    }
}

@media (max-width: 991px) {
    .band {
        font-size: 0.8em;
    }
}

@media (max-width: 767px) {
    .band {
        font-size: 0.75em;

        >.row {
            padding: 1em;

            &:first-child {
                margin-top: 2em;
                justify-content: center !important;
            }

            .column {
                .colors {
                   
    
                    span {
                        font-size: 1.4em;
                    }
                   
                    
                    .circle {
                        width: 2.5em;
                        height: 2.5em;
                    
                        
                        &:last-child {
                            margin-left: 2em;
                        }
                    }
    
    
                }
    
            }
        }

        .title {
            text-align: center;
        }


        
    }
}