.verify-code {
  &__container {
    padding-top: 153px;
    margin: 0 auto;
  }
  &__container-paragraph {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
  }
  &__container-button {
    margin: 0 auto;
    width: 350px;
  }
}
