.carpeta-enfermedades {


    & >.row {
        padding-bottom: 0;

        &.subtitle-diseas {
            
            padding: 0;

            > h3 {
                font-size: 1.5em;
            }
        }

        
    }

    >div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &.row-carpetas {
            padding: 0.5em;
        }
        .carpeta {
            .button {
            font-size: 0.8em;
            margin-top: -2em;
            display: inline-block;
            width: fit-content;
            padding: 0.5em;
            background-color: $gray;
            border-color: $gray;
            color: #000000;
            margin-bottom: 0.5em;

            &:first-child {
                margin-right: 1em;
                background-color: $dark-red;
                border-color: $dark-red;
                color: white;
            }
            }

            & svg {
            transition: all 300ms;
            }
            & svg:hover {
            transform: scale(1.1);
            }
        }


        .column {
            > div {
            text-align: center;
            }
            svg {
            width: 8em;
            margin-bottom: 1em;
            text-align: center;
            margin-bottom: 0;
            }
        }
    }
}
  