.title-diseas {
    margin: 0 auto;
    margin-top: 1em !important;
}

.subtitle {

    padding: 0 !important;
    margin-bottom: 2em;

    & .subtitle-diseas {
        margin: 0 auto;
    }
}

.swiper-button-next {
    margin-top: -3em !important;
}