.common-diseases {
    width: 85% !important;
    .title-diseas {
        font-size: 2em;
        margin: 0 auto;
        margin-top: 1em !important;
    }
    
    .subtitle {
    
        padding: 0 !important;
        margin-bottom: 2em;
    
        & .subtitle-diseas {
            font-size: 1.5em;
            margin: 0 auto;
        }
    }

    .list-enfermedades-comunes {
        
        .container-enfermedades {
            width: 95%;
        }
    }
    .swiper-button-next {
        margin-top: -3em !important;
    }
}



@media (max-width: 1205px) {
    .common-diseases {
        font-size: 0.8em;
    }
}


@media (max-width: 991px) {
    .common-diseases {

        .list-enfermedades-comunes {
    
            .container-enfermedades {
    
                &__btn {
                    width: fit-content;
                    margin: 1em;
    
                    >label {
                        padding: 1em;
                    }
                }
            }

            .arrow-next {
                position: absolute !important;
                bottom: -3em;
                right: 50%;
            }
        }

        .swiper-button-next {
            top: 90%;
            right: 25%;
        }

        // .swiper-button-prev {
        //     top: 90%;
        //     left: 20%;
        // }
        .arrow > .ui.button {
            font-size: 2em;
            width: 9em;
        }
    
    }

}

@media (max-width: 767px) {
    .common-diseases {
        font-size: 0.6em;

        .title-diseas {
            font-size: 2.5em !important;
        }

        .subtitle {

            & .subtitle-diseas {
                font-size: 1.8em;
            }
        }

        .list-enfermedades-comunes {
    
            .container-enfermedades {
                height: 58vh;
                
            }

            .arrow-next {
                right: 42%;
            }
        }

        .arrow > .ui.button {
            width: 80vw;
        }
    }

   
}
