.icon-selected {
  background-color: #fff;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
   >svg path, >svg line {
     stroke:$main ;
   }
}

.icon-container {
  margin: 0.5em 0px;
  display: flex;
  align-items: center;
  justify-content: center;


  > svg {
    margin: 0.5em 0px;
    margin-left: 5px;
    height: 3.5em;
    // width: 3.5em;
  }

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 767px) {

  .icon-container {
    margin: 0;
    padding-left: 0.35em;
    padding-right: 0.35em;

    > svg {
      width: 2.9em;
      // height: 2.9em;
      margin-left: 0;
    }

    // &:last-child {
    //   margin-right: 0.5em;
    // }
  }

  .icon-selected {
    border-top-left-radius: 0;
    border-bottom-right-radius: 2em;
  }
}

