.icon-selected {
  background-color: #fff;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
   >svg path, >svg line {
     stroke:$main ;
   }
}

.icon-container {
  margin: 2.3em 0px;
  display: flex;
  align-items: center;
  justify-content: center;


  > svg {
    margin: 0.5em 0px;
    margin-left: 5px;
    width: 4em;
  }

  &:hover {
    cursor: pointer;
  }
}
