.ui.button {
  display: block;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 2.1em;
  border-radius: 2em;
  color: #00a199;
  border: 2px solid #00a199;
  font-family: "Comfortaa";
  font-size: 2em;
  font-weight: 400;
}
.ui.button.emergency {
  color: #ffffff;
  background-color: #ff0101;
  border: 2px solid #ff0101;
  width: 20rem;
}
