.select-custom {
  position: relative;
  margin: auto auto;
  width: 100%;

  &__item {
    font-size: 1.5em;
    border-radius: 1.5em !important;
    min-width: 12.2em !important;
    min-height: auto !important;
  }

  .move-select {
    display:flex;
    animation: slide-in 1s forwards;
    font-size: 1.4em !important;
    margin-left: 1em !important;
    >.label{
      background-color: $white !important;
    }
  }

  &__label {
    font-weight: normal;
    padding: 0;
    color: $color-dark-light;
    background-color: transparent;
    font-size: 1.5em;
    //posicionamiento
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 50px;
    top: 1em;
    text-align: center;
    z-index: 10;
  }
}
