.input-custom {
  position: relative;
  width: 100%;

  > .move-label {
    animation: slide-in 0.5s forwards ease-in-out;
    > .label {
      font-size: 1.4em !important;
      margin-left: 1em !important;
      background-color: $white !important;
    }
  }

  > .input {
    > input {
      width: 100%;
      font-size: 1.5em;

      border-radius: 1.5em;
      text-align: center;
    }

    input[type="number"]::-webkit-inner-spin-button {
      opacity: 1;
      width: 37px;
      height: 37px;
    }

    /* for mozilla */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  > .labelText {
    //posicionamiento
    position: absolute;
    left: 30px;
    top: 1.6em;
    text-align: center;
    z-index: 2;
    > .label {
      font-weight: normal;
      padding: 0;
      color: $color-dark-light;
      background-color: transparent;
      font-size: 1.5em;
    }
  }
}

@keyframes slide-in {
  from {
  }

  90% {
  }

  to {
    top: -0.5em;
    text-align: left;
  }
}
