.slider.historial {
  height: 100vh;
  max-height: 100vh;

  // > .row:last-child {
  //     height: 98%;
  // }

  .container {
    height: 93vh;
    overflow-y: auto;
    overflow-x: hidden;

    >.title {
      margin-bottom: 0;
    }

    > .subtitle-record {
      font-size: 1.8em;
      margin: 0;
      margin-bottom: 0.5em;
      // margin-bottom: 1em;
    }

    > .records {
      height: 80%;

      // .records:first-child {
      //   margin-top: 1em;
      // }

      .small-svg {
        svg {
          width: 10em;
        }
      }
      .question {
        color: $secondary;
        font-size: 1.5em;
      }

      .relatives {

        >.column {
          text-align: center !important;
          svg {
            width: 16em;
          }
        }
        &__answers {
          margin-top: 0;
          margin-bottom: 1em;
          .button {
            border-radius: 0.5em;
            &__main {
              color: $main;
              border-color: $main;
              
            }

            &__secondary {
              background-color: $secondary;
              color: $white;
              font-size: 1.5em;

              &:hover {
                color: $font-dark;
              }
            }
          }
          
          & > .column {
            
            .disease {
              width: 80% !important;
              display: inline-block;
            }

            .icon {
              display: inline-block;
              color: $main;
            }
          }
        }
        
      }

      .answers {
        margin: 0 auto;
        // margin-bottom: 9em;

        .column {
          text-align: center;

          > button {
            width: 3em;

            &.selected {
            }
          }
        }
      }
      .quantity {
        width: 60%;
        margin-bottom: 2em;
      }

      &:last-child {
        margin-bottom: 3em;
      }
    }
  }
}
