.slider.historial {
  // height: 100vh;
  // max-height: 100vh;

  // > .row:last-child {
  //     height: 98%;
  // }

  &>.row {
    margin: 0;
  }

  .title {
    margin-top: 1em;
    margin-bottom: 0.5em
  }

  .main-container {
    height: 93vh;
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      display: none; 
  }

    >.title {
      margin-top: 1em;
      margin-bottom: 0.5em
    }

    > .subtitle-record {
      font-size: 1.8em;
      margin: 0;
      margin-bottom: 0.5em;
      // margin-bottom: 1em;
    }

    > .records {
      height: 80%;

      // .records:first-child {
      //   margin-top: 1em;
      // }

      .small-svg {
        svg {
          width: 10em;
        }
      }
      .question {
        color: $secondary;
        font-size: 1.5em;
        // margin: 1em;
      }

      .relatives {
       
        >.column {
          text-align: center !important;

          >label {
            display: block;
            font-size: 2em;
            margin-bottom: 1em;
          }
          svg {
            width: 16em;
          }
        }
        &__answers {
          margin-top: 0;
          margin-bottom: 1em;
          .button {
            border-radius: 0.5em;
            &__main {
              color: $main;
              border-color: $main;
              
            }

            &__secondary {
              background-color: $secondary;
              color: $white;
              font-size: 1.5em;

              &:hover {
                color: $font-dark;
              }
            }
          }
          
          & > .column {
            
            .disease {
              width: 80% !important;
              display: inline-block;
            }

            .icon {
              display: inline-block;
              color: $main;
            }
          }
        }
        
      }

      .answers {
        margin: 0 auto;
        // margin-bottom: 9em;

        .column {
          text-align: center;

          > button {
            width: 3em;

            &.selected {
            }
          }
        }
      }
      // .quantity {
      //   width: 60%;
      //   margin-bottom: 2em;
      // }

      &:last-child {
        margin-bottom: 3em;
      }
    }
  }
}

.resume {
  overflow: auto;
  overflow-x: hidden;

  .row {
    
    &:nth-child(19) {
      margin-bottom: 2em;
    }

    &>.column {
      
      margin-top: 1em;
      .row > .subtitle {
        text-align: left;
        font-size: 1.5em;
      }
  
      .question {
        color: $font-grey;  
        font-size: 1.1em;
        text-align: left;
        margin-bottom: 1em;
      }
  
      .answer {
        font-size: 1.2em;
        text-align: left;
        margin-bottom: 1em;
      }

      &.right {
        margin-top: 2em;
      }

      
    } 
      
    .line {
        border-bottom: 2px solid $secondary;
    }

    &.button-info-basic {
      position: fixed;
      bottom: 0;
    }

  } 
  
  
}

@media (max-width: 991px) {
  .slider .vacunas__title-description:last-of-type {
    padding-bottom: 5em ;  
  }

  .input-container {  
    >label::before {
      font-size: 0.9em !important;
    }
  }

  // .edit {
  //   > label {
  //       font-size: 1em !important;
  //   }
  // }
}

@media (max-width: 767px) {
  .slider.historial {
    height: 82vh;
    max-height: none;

    .main-container {
      font-size: 1em;
      height: 70vh;

      >.title {
        font-size: 2.5em;
        margin-top: 3.5em;
      }

      > .records {
        height: 70%;

        .question {
          font-size: 2em;
          margin: 1em;
        }

        > .answers {
          margin-bottom: 2em;
        }
        svg {
          width: 15em;
        }

        .small-svg {
          align-items: baseline;
          margin-top: 1em;
          height: 16%;
          svg {
            width: 8em;
          }
        }

        .vacunas__title-description {
          > div:first-child {
            margin-bottom: 2em;
          }
        }
      }
    }

    .resume {
      font-size: 1.3em;

      >.row > div{
          margin-top: 1em;
          margin-right: 0;
      }

      .icon {
        svg {
          width: 5em !important;

        }
      }
    }

    // .input-container {  
    //   >label::before {
    //     font-size: 1em !important;
    //   }
    // }
  }

}

// @media (max-width: 1024px) {
//   .input-container {
//     font-size: 0.9em ;
//   }
// }
