.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding: 0 40px;
  & > div {
    width: 33.33334%;
  }

  &__register {
    > p {
      color: black;
      font-size: 1.5rem;
      font-weight: 600;
      a {
        font-weight: 400;
        color: $color-acua;
        margin-left: 0.5em;
      }
    }
  }
  & .logo {
    width: 80%;
    max-width: 40rem;
    min-width: 15rem;
  }
  &__img-container {
    text-align: center;
  }
}
