.lista-enfermedades {
    height: 100%;
    &>.row {
        padding-bottom: 0 !important;
    }
    .title-list {
        // line-height: 1em;
        font-size: 3em;
        // margin-top: 1em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        // height: 3.2em;
        // margin: 0;
        // height: 2.4em;

        .title-list-icon {
            margin: 0;
            margin-right: 0.5em;
            svg {
                width:  2em;
                margin: 0;
                height: auto;
            }
        }
    }

    .instructions {
        padding-top: 0 !important;

        >h3 {
            margin: 0;
            margin-top: -1em;
        }
    }



    .container-diseases {
        margin-top: 1em;

        .diseases.left {
            height: 68vh;
            
    
            h3 {
                text-align: center;
                margin-bottom: 1em;
            }
            
            .plate {
                margin-left: 6em;
                margin-right: 6em;
                // padding: 3em;
                height: inherit;
                border: 1em solid red;
                border-top-width: 3em;
                border-radius: 2em;
                height: 100%;
                
                >.row:first-child {
                    height: 85%;
                    overflow-y: auto;
                }
    
                .no-disease {
    
                    & .button {
                        margin-top: 0.5em;
                        width: fit-content;
                        // margin-left: 1em;
                        // margin-right: 1em;
                        padding: 0.5em;
                        height: auto;
                        font-size: 1.3em;
                        background-color: $main;
                        color: #ffffff;
                        border-color: $main;
                    }
                }
    
    
            
                .ui.button.disease {
                    width: fit-content;
                    height: auto;
                    padding: 0.5em;
                    padding-left: 1em;
                    padding-right: 1em;
                    margin-top: 1em;
                    font-size: 1.3em;
                    background-color: $font-grey;
                    color: #ffffff;
                    border-color: $font-grey;
                }
    
                // .internal-plate {
                //     width: 100%;
                //     height: 100%;
                //     border: 2em solid red;
                //     border-top-right-radius: 2em;
                //     border-top-left-radius: 2em;
                // }
            }
    
            
        }
    
        .diseases.right {
            height: 68vh;
    
            h3 {
                text-align: center;
                margin-bottom: 1em;
            }
    
            .eyelash {
                background-color: green;
                width: 20em;
                height: 2em;
                border-top-left-radius: 2em;
                border-top-right-radius: 2em;
    
                .pacient p {
                    color: white;
                    line-height: 2.5em;
                    margin-left: 2em;
                }
            }
    
            .folder {
                height: 58vh;
                margin-right: 3.5em;
                border: 3px solid green;
                border-radius: 2em;
                border-top-left-radius: 0;
                // padding-top: 1em;
    
                .drag {
                    height: 80% ;
    
                    >.row:first-child {
                        height: 100%;
                        overflow-y: auto;
                        margin-top: 1em;
                        margin-right: 1em;
                    }
    
                    .ui.button.disease {
                        width: fit-content;
                        height: auto;
                        padding: 0.5em;
                        padding-left: 1em;
                        padding-right: 1em;
                        margin-top: 1em;
                        font-size: 1.3em;
                        background-color: $font-grey;
                        color: #ffffff;
                        border-color: $font-grey;
                    }
                }
    
                & .no-disease {
                    height: 20%;
    
                        & .button {
                            // margin-top: 0.5em;
                            width: fit-content;
                            // margin-left: 1em;
                            // margin-right: 1em;
                            padding: 0.5em;
                            height: auto;
                            font-size: 1.3em;
                            background-color: $main;
                            color: #ffffff;
                            border-color: $main;
                        }
                }
            }
        }
    }

    .drop-wrapper {
        &>.highlight-region {
            background-color: #cce2ff;
        }
    }


}