.gynecology {
   &.container {
       width: 100% !important;
   }
    >.grid {

    
        >.row {
            &.subtitle {
                margin-bottom: 0;
            }

            &.answers{
                .column{
                    >label{ 
                        padding-top: 1rem;
                    }
                    >input[type='radio']:checked + label {
                        background-color: $secondary;
                        color: $white;
                      }
                }
            }

            .question {
                font-size: 2em;
                color: $secondary;
            }

            & svg {
                width: 15em;
            }

            &.small-icon {

                & svg {
                    width: 10em;
                }
            }
        }

        >.answers.menopause {
            >.column {

                >.button {
                    width: 3em;
                }
            }
        }

        .title {
            font-size: 2em;
        }

        .subtitle {
            h2 {
                font-size: 1.5em;

            }
        }

        

    }
}

.resume {
        >.row {
            &:first-child {
                margin-top: 1em;
            }

            &:nth-child(5) {
                margin-bottom: 5em;
            }
            >.column {
                margin-right: 1em;
                &.icon {
                    svg {
                        width: 10em;
                    }
                }

                >.question {
                    font-size: 1.1em;
                    text-align: left;
                    margin-bottom: 1em;
                }

                >.answer {
                    font-size: 1.5em;
                    text-align: left;
                    margin-bottom: 1em;
                }

                &.edit {
                    // position: absolute;
                    // right: 150px;
                    // margin-left: -100px;
                    > label {
                        text-align: left;
                        font-size: 1em;
                        background-color: $background-grey-light;
                        padding: 0.5em;
                        border-radius: 0.3em;
                        cursor: pointer;
                    }
                }
            }

            .title {
                font-size: 2em;
            }
    
            .subtitle {
                h2 {
                    font-size: 1.5em;
    
                }
            }

            // &:last-child {
            //     margin-bottom: 5em;
            // }
            

            // &.save {
            //     margin-bottom: 10em;
            // }

       
    
    }
}

@media (max-width: 1235px) {
    .gynecology {
        &.container {
            >.grid {
                .title {
                    font-size: 2.5em;
                }
        
                .subtitle {
                    h2 {
                        font-size: 2em;
        
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .gynecology {
        font-size: 0.9em;
        &.container {
            height: 100vh !important;

            >.grid {
                height: 88%;

                .title {
                    font-size: 2.5em;
                }
        
                .subtitle {
                    h2 {
                        font-size: 2em;
        
                    }
                }
            }
        }
    }

    .resume.resume-gynecology {
        height: 78% !important;
    }
}

@media (max-width: 767px) {
    .gynecology {
        // font-size: 1.2em;
        &.container {

            >.grid {
                height: 72%;
                overflow: auto;

                >.row {

                    &.small-icon {

                        & svg {
                            width: 8em;
                        }
                    }

                    &.options-gynecology, &.menstruation {
                        div {
                            margin-bottom: 1.3em;
                        }
                    }

                    // &.menstruation {
                    //     div {
                    //         margin-bottom: 1em;
                    //     }
                    // }
                }

                >.answers.menopause {
                    padding-bottom: 1em;
                }

                // &:first-child {
                //     // margin-top: 1em;
                //     height: 0.5em;
                // }

                >.icon {
                    align-items: baseline;
                    margin: 1em;
                }

                .title {
                    font-size: 2.8em;
                }
        
                .subtitle {
                    // margin-top: -2em;
                    h2 {
                        // margin-top: -1.5em;
                        font-size: 2.2em;
        
                    }
                }

                >.pregnant {
                    div {
                        margin-bottom: 0.5em;
                    }
                }

            }
        }
    }

    .resume {

        &.resume-gynecology {
            height: 90% !important;
        }
        >.row {

            &:first-child {
                margin-top: 0;
            }
            .title {
                font-size: 2em;
            }
    
            &.subtitle {
                h2 {
                    font-size: 1.5em ;
    
                }
            }
        }

    }
}